.header{
    background-color: #fff;
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 20;
}
.container{
    max-width: 1184px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}
.title{
    font-size: 1.5rem;
    font-weight: 900;
    flex-shrink: 0;
}
.orange{
    color: #f68b1e;
}
.subscriptionContainer{
    column-span: 2;
}
.searchFormWrapperDeakTop{
    display: none;
    margin-left: auto;
    flex: 1;
    margin-left: 4rem;
}
.inputContainer{
    display: flex;
    align-items: stretch;
    gap: 1rem;
}
.searchFormWrapperMobile{
    margin: 0.25rem 1rem;
}
.inputWrapper{
    border: 1px solid #c7c7cd;
    border-radius: 50px;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}
.searchInput{
    border: none;   
    width: 100%;
}
.searchInput:focus{
    outline: none;
}
.searchButton{
    display: none;
    font-weight: bold;
    color: #fff;
    background-color: #f68b1e;
    padding: 0.5rem 1rem;
    border: none;
    text-transform: uppercase;
    flex-shrink: 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}
.headerMenu{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
    cursor: pointer;
}
.headerMenuTitle{
    display: none;
}
.help{
    display: none;
}
.userMenu{
    margin-left: auto;
}
.cartItemsCountWrapper{
    position: relative;
}
.cartItemsCount{
    background-color: #f68b1e;
    color: #FFF;
    font-weight: 600;
    height: 18px;
    width: 18px;
    display: grid;
    place-content: center;
    font-size: .625rem;
    border-radius: 50%;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
}

@media (min-width: 640px){
    .header{
        padding: 1rem 0;
    }
    .inputContainer{
        display: flex;
    }
    .title{
        font-size: 2rem;
    }
    .headerMenu{
        gap: 0.5rem;
    }
    .headerMenuTitle{
        display: inline;
    }
    .help{
        display: flex;
    }
    .userMenu{
        margin-left: 0;
    }
    .searchFormWrapperDeakTop{
        display: block;
    }
    .searchFormWrapperMobile{
        display: none;
    }
    .searchButton{
        display: block;
    }
    .inputWrapper{
        border-radius: 5px;
    }
}