.checkoutWrapper{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 10px;
    padding-top: 1rem;
}
.orderSummary{
    width: 280px;
    flex-shrink: 0;
}
.orderSummary > div{
    background-color: #FFF;
    border-radius: 0.25rem;
}
.totalProduct{
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.orderSummary h4, .orderSummary p{
    font-size: 0.875rem;
    padding: 10px 0.5rem;
    font-weight: 600;
}
.summaryItemPrice{
    color: var(--primary);
}
.summaryQty{
    color: #808088;
}
.addCoupon{
    font-size: 0.75rem !important;
    line-height: 1rem;
    gap: 0.5rem;
    display: flex;
    align-items: center;
}
.confirmOrderBtnBtnWrap{
    padding: 0.5rem;
}
.confirmOrderBtn{
    border: none;
    width: 100%;
    border-top: 1px solid var(--borderColor);
    display: block;
    background-color: var(--primary);
    padding: 1rem;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 4px;
}
.confirmOrderBtnBtnWrap span{
    font-size: 10px;
    text-align: center;
    color: #75757A;
    font-weight: 600;
    display: block;
}
.confirmOrderBtn:disabled{
    background-color: #a3a3a6;
}
.subTotals{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.875rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
}
.subTotals span{
    font-size: 1.25rem;
}
.totalSum{
    padding: 10px 0 0;
    font-weight: bold;
}
.totalSum{
    font-size: 17px;
}
.form{
    display: flex;
    padding: 0.5rem;
}
.couponBtn{
    background-color: transparent;
    padding: 14px;
    font-weight: 600;
    color: var(--primary);
    border-radius: 0.25rem;
}
.couponBtn:hover{
    background-color: rgba(246, 139, 30, 0.3);
}
.couponBtn:disabled{
    color: #a3a3a6;
    pointer-events: none;
}
.formWrapper{
    position: relative;
    flex: 1;
}
.formWrapper span{
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    color: #a3a3a6;
}
.couponInput{
    padding: 14px 1rem 14px 48px;
    border: 1px solid var(--borderColor);
    color: var(--primary);
    border-radius: 0.25rem;
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
}
.couponInput:focus{
    outline-color: var(--primary);
}
.couponInput:focus ~ span{
    color: var(--primary);
}
.continueLink{
    color: #264996;
    font-size: 0.75rem;
    font-weight: 700;
    display: block;
    margin: 1rem 0;
}