.title{
    border-bottom: 1px solid var(--borderColor);   
}
.title span{
    color: var(--primary);
    font-weight: 700;
    font-size: 0.875rem;
    display: block;
    padding: 0 1rem;
    line-height: 34px;
    border-bottom: 2px solid var(--primary);
    width: fit-content;
    text-transform: uppercase;
}
.productItemsWrap{
    padding: 0.25rem 0.5rem;
}
.productItems{
    border: 1px solid #d4d4d6;
    padding: 0.5rem;
    background-color: #FFF;
    border-radius: 0.25rem;
    display: flex;
}
.productTitle{
    flex: 1;
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    font-weight: 600;
}
.productTitle h4{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.details{
    color: var(--primary);
    font-weight: bold;
    display: none;
}
.shipped{
    display: inline-block;
    padding: 0 0.25rem;
    background-color: #264996;
    width: fit-content;
    color: #FFF;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFF;
    border-radius: 0.125rem;
}
.imageWrap{
    padding: 0.25rem;
}
.orderTitle{
    font-size: 0.875rem;
    opacity: 0.5;
    margin-bottom: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
@media (min-width: 640px){
    .details{
        display: block;
    }
    .productTitle{
        margin-right: 2rem;
        font-size: 1rem;
    }
    .productItemsWrap{
        padding: 0.5rem;
    }
}