.imageWrapper{
    position: relative;
    aspect-ratio: 4 / 3;
}
.percentageSlash{
    color: var(--primary);
    background-color: #fef3e9;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 2px;
    display: inline-block;  
    margin-left: 0.25rem;
}
.btnWrapper{
    margin-top: 1rem;
}
.btnWrapper div{ 
    justify-content: space-between;
}
.addButton{
    width: 100%;
    background-color: var(--primary);
    border: 0;
    padding: 0.5rem;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}
.mainItemsWrap{
    position: relative;
    padding: 0.5rem;
    font-weight: 500;
    width: 25%;
    flex-shrink: 0;
    background-color: #FFF;
}
.mainItemsWrap a{
    display: block;
    padding: 0.25rem;
}
.mainItemsWrap:hover{
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.mainItemsWrap:hover button{
    visibility: visible;
}
.percentageSlash{
    position: absolute;
    color: #f68b1e;
    background-color: #fef3e9;
    top: 1rem;
    right: 1rem;
    padding: 2px 4px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
    z-index: 10;
}
.topSellingImage{
    border-radius: 5px 5px 0 0;
}
.topSellingTitle{
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}
.slashedPrice{
    font-size: 12px;
    color: #75757a;
    text-decoration:line-through;
    line-height: 0.6;
}
.imageWrapper{
    height: 144px;
    width: 144px;
    position: relative;
    overflow: hidden;
}
.mainItemsWrap article{
    width: 150px;
}
@media (min-width: 640px){
    .imageWrapper{
        height: unset;
        width: 100%;
        aspect-ratio: 1 / 1;
    }
    .mainItemsWrap{
        width: 100%;
    }
    .mainItemsWrap article{
        width: 100%;
    }
    .addButton{
        visibility: hidden;
    }
}