.main{
    background-color: #f5f5f5;
    padding-bottom: 1rem;
    min-height: 40vh;
}
.breadCrumb{
    padding: 0.5rem 0;
    font-size: 0.75rem;
    font-weight: bold;
}
.breadCrumb span{
    color: #75757A;
}
.mainProductWrap{
    position: relative;
    margin-bottom: 1rem;
}
.productInfoWrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.mt-8{
    margin-top: 1rem;
    position: relative; 
}
.productsContainer{
    flex: 1;
    position: relative;
}
.bgWhite{
    background-color: #FFF;
}
.flexStretch{
    align-items: stretch !important;
}
.productInfo{
    background-color: #FFF;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.productInfoImages{
    width: fit-content;
    flex-shrink: 0;
}
.mobileImagesWrapper{
    display: flex;
    gap: 0.5rem;
    overflow: scroll;
}
.otherImages{
    display: none;
    gap: 0.75rem;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
}
.shareProduct{
    display: none;
}
.ProductInfoDetails{
    padding: 1rem 0;
    width: 100%;

}
.ProductInfoDetails h1{
    font-size: 1.25rem;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 1.5rem;
}
.brand{
    padding: 0.5rem 0 0;
    font-weight: 500;
    font-size: 0.875rem;
    cursor:pointer;
}
.brand span{
    color: #264996;
}
.brand span:hover{
    text-decoration: underline;
}
.ratingContainer{
    color: #264996;
    font-size: 14px;
    font-weight: 600;
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    gap: 0.15rem;
    border-bottom: 1px solid #EDEDED;
}
.ratingContainer span{
    display: inline-block;
    padding-left: 0.5rem;
    cursor: pointer;
}
.ratingContainer span:hover{
    text-decoration: underline;
}
.price{
    font-size: 1.5rem;
    font-weight: bold;
}
.originalAmount{
    font-size: 1rem;
    color: #75757A;
    font-weight: bold;
    display: inline-block;
    margin-right: 0.25rem;
    text-decoration: line-through;
}
.discountedPercentage{
    color: #f68b1e;
    background-color: #fef3e9;
    padding: 2px 4px;
    font-size: 14px;
    font-weight: bold;
}
.inStockTag{
    font-size: 0.75rem;
    display: block;
    margin: 0.5rem 0;
    color: #75757A;
    font-weight: bold;
}
.shippingSFee{
    font-weight: bold;
    font-size: 0.75rem;
    margin-bottom: 1.25rem;
}
.addCartBtn{
    padding: 0.75rem 1rem;
    width: 100% !important;
    font-size: 0.875rem;
    font-weight: bold;
    color: #fff;
    background-color: #f68b1e;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    border-radius: 4px;
}
.addCartBtn:hover{
    background-color: #ce7319;
}
.descriptionWrap{
    margin-bottom: 1rem;
}
.productDetails{
    background-color: #FFF;
    border-radius: 5px;
}
.productDetails h4{
    padding: 1rem;
    border-bottom: 1px solid #EDEDED;
    font-size: 1.25rem;
}
.productDetails p{
    padding: 1rem;
    font-size: 14px;
    font-weight: 500;
}
.aside{
    flex-shrink: 0;
    background-color: #FFF;
    border-radius: 5px;
    overflow: hidden;
}
.aside h4{
    padding: 0.5rem;
    font-size: 0.875rem;
    border-bottom: 1px solid #EDEDED;
}
.sticky{
    display: none;
    position: sticky;
    top: 6rem;
}
.deliveryLocation{
    padding: 0.5rem;
    border-bottom: 1px solid #EDEDED;
}
.deliveryLocation h5{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
}
.selectState{
    padding: 0 2.5rem 0 1rem;
    width: 100%;
    appearance: none;
    height: 3rem;
    border: 1px solid #c7c7cd;
    outline-offset: -2px;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.selectState:focus{
    outline: none;
    border-color: #f68b1e;
}
.specificationWrapper{
    display: grid;
    padding: 0.5rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.sideNavWrap{
    border-bottom: 1px solid #d4d4d6;
}
.sideNav{
    font-weight: 500;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.sideNavWrap:last-child{
    border-bottom: none;
}
.report{
    display: none;
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    color: #264996;
    font-weight: 600;
    cursor: pointer;
}
.report:hover{
    text-decoration: underline;
}
.desktopBtn{
    display: none;
}
.mobileBtn{
    padding: 0.5rem;
    background-color: #FFF;
    margin: 1rem 0;
    position: sticky;
    bottom: 0;
    right: 0;
}
.mobileBtn button{
    height: 3rem;
    width: 3rem;
}
.mobileBtn > div{
    justify-content: space-between;
}
.desktopImagesWrapper{
    display: none;
}
@media (min-width: 640px){
    .productInfoWrapper{
        flex-direction: row;
        align-items: flex-start;
    }
    .productInfo{
        flex-direction: row;
    }
    .aside{
        width: 250px;
    }
    .mobileImagesWrapper{
        display: none;
    }
    .desktopImagesWrapper{
        display: block;
    }
    .otherImages{
        display: flex;
    }
    .shareProduct{
        border-top: 1px solid #EDEDED;
        display: block;
    }
    .ProductInfoDetails{
        padding: 0 0.5rem;
    }
    .specificationWrapper{  
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .sticky{
        display: block;
    }
    .report{
        display: block;
    }
    .desktopBtn{
        display: block;
    }
    .mobileBtn{
        display: none;
    }
}