.wrapper{
    background-color: #FFF;
    border-radius: 0.25rem;
    margin: 0.5rem 0;
}
.wrapper:first-child{
    margin-top: 0;
}
.heading{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--borderColor);
    font-weight: 500;
    font-size: 0.875rem;
    color: #000;
    text-transform: uppercase;
}
.changeBtn{
    background-color: transparent;
    cursor: pointer;
    color: var(--primary);
    font-weight: bold;
    font-size: 0.875rem;
    margin-left: auto;
}
.mainContent{
    /* padding: 1rem 3rem; */
    color: var(--secondaryText);
    font-size: 13px;
}
.mainContent h5{
    font-size: 0.875rem;
    font-weight: 600;
    color: #000;
}
.status{
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    line-height: 1.25rem;
    background-color: #e2e2e2;
    display: grid;
    place-content: center;
    color: #FFF;
    margin-right: 1rem;
}
.deliveryMethod{
    font-size: 13px;
    font-weight: 500;
    color: #000;
    padding: 2rem 3rem;
}
.deliveryMethod > h5{
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}
.radioLabelWrapper{
    display: flex;
    align-items: flex-start;
    font-size: 0.875rem;
    font-weight: 600;
    gap: 0.75rem;
    line-height: 1.5rem;
}
.radioLabelWrapper input[type=radio]{
    accent-color: var(--primary);
    margin-top: 0.25rem;
}
.arrivalNotes{
    color: var(--secondaryText);
    padding: 0 1.5rem;
}
.methodDetails{
    margin: 1rem 1.5rem 0;
    border: 1px solid #f0f0f0;
    border-radius: 0.25rem;
    padding: 10px;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
}
.methodDetails span{
    height: 13px;
    width: 13px;
    color: gray;
    border: 1px solid gray;
    display: grid;
    place-content: center;
    border-radius: 50%;
    font-size: 0.5rem;
    flex-shrink: 0;
    margin-top: 0.25rem;
    margin-right: 10px;
}
.methodDetailsList{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 18px;
}
.methodDetailsBtn{
    background-color: transparent;
    margin: 0.5rem 1.5rem;
    color: var(--primary);
    font-size: 0.875rem;
    font-weight: bold;
}
.methodContainer{
    border-bottom: 1px solid var(--borderColor);
    padding: 1rem 0;
}
.methodContainer:first-child{
    padding-top: 0;
}
.deliveryTotal{
    color: var(--primary);
}
.shipmentDetailsContainer{
    border: 1px solid var(--borderColor);
    border-radius: 0.25rem;
    color: var(--secondaryText);
    margin: 10px 0;
}
.shipmentDetailsContainer h4{
    padding: 10px 1rem;
    border-bottom: 1px solid var(--borderColor);
}
.cartItemsWrapper{
    padding: 4px 10px 6px;
    margin: 6px;
}
.cartItems{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0.5rem 0 0.75rem;
    border-bottom: 1px solid var(--borderColor);
    font-weight: 400;
}
.cartItems h5{
    display: flex;
    gap: 1rem;
    color: var(--secondaryText);
}
.cartItems:last-child{
    border: none;
}
.expectedDate{
    font-weight: bold;
    color: #000;
}
.proceedBtn{
    padding: 1rem 0.75rem ;
    margin-top: 1.25rem;
    background-color: var(--primary);
    width: 100%;
    color: #FFF;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: capitalize;
}
.proceedBtn:hover{
    background-color: var(--btnHoverBg);
}

.paymentMethodWrapper{
    color: #000;
    padding: 0rem 3rem 2rem;
    width: 100%;
}
.paymentMethodWrapper h4{
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
}
.paymentMethodDetails{
    margin-top: 0.25rem;
    padding-left: 1.5rem;
    color: var(--secondaryText);
    font-size: 13px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cardPaymentWrapper{
    padding: 1rem 0;
    border-bottom: 1px solid var(--borderColor);
}
.payOnDelivery{
    padding: 1rem 0;
}
.payOnDelivery p{
    font-weight: 600;
}
.modalBg{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 101;
    top: 0;
    left: 1;
}
.modalContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: #FFF;
    max-width: 699px;
    border-radius: 0.25rem;
}
.modalHeader{
    padding: 10px 30px;
    position: relative;
    border-bottom: 1px solid var(--borderColor);
}
.modalHeader h3{
    font-weight: 500;
}
.modalCloseBtn{
    background-color: transparent;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
}
.modalNewAddressBtnWrapper{
    padding: 1.25rem 30px;
    border-bottom: 1px solid var(--borderColor);
}
.modalNewAddressBtn{
    background-color: transparent;
    font-weight: 600;
    font-size: 0.875rem;
    color: var(--primary);
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.savedAddressesWrapper{
    padding: 10px 30px;
    border-bottom: 1px solid var(--borderColor);
}
.addressTag{
    font-size: 0.875rem;
    color: var(--secondaryText);
    margin-bottom: 1rem;
    font-weight: 500;
}
.selectAddressBtnWrapper{
    margin: 1.25rem 30px;
}
.selectAddressBtn{
    width: 100%;
    padding: 10px;
    background-color: var(--primary);
    color: #FFF;
    font-weight: 600;
}
.addNewAddressModal{
    height: 80%;
    display: flex;
    flex-direction: column;
}
.newAddressForm{
    flex: 1;
    height: 90%;
    display: flex;
    flex-direction: column;
}
.formDetailsContainer{
    padding: 1.25rem 0;
    overflow: scroll;
}
.formInputNameWrapper{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.25rem;
}
.formInputWrapper{
    font-size: 0.75rem;
    color: var(--secondaryText);
    margin-bottom: 1rem;
}
.formInputLabel{
    display: block;
    position: relative;
    margin-bottom: 6px;
}
.formInputLabel::after{
    content: " *";
}
.formInput{
    border: 1px solid #CCC;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #000;
    background-color: #FFF;
    padding: 7px 10px;
    width: 100%;
    height: auto;
}
.formInputNumberWrapper{
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    gap: 10px;
}
.mainNumber{
    grid-column: span 9 / span 9;
}
.addMoreBtn{
    margin-left: auto;
    display: block;
    background-color: transparent;
    color: var(--secondaryText);
    cursor: pointer;
    padding: 5px;
    display: flex;
    gap: 0.2rem;
}
.addMoreBtn:hover{
    color: var(--primary);
}
.formTextArea{
    min-height: 100px;
}
.submitBtnContainer{
    /* padding: 1.25rem 0; */
    border-top: 1px solid var(--borderColor);
}
.formnotes{
    font-size: 0.75rem;
    color: var(--secondaryText);
}
.submitBtn{
    width: 100%;
    background-color: var(--primary);
    padding: 10px;
    color: #FFF;
    font-weight: 600;
}
.submitBtn:hover{
    background-color: var(--btnHoverBg);
}
.labels{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}