.itemContainer{
    padding: 0.5rem;
    color: #313133;    
}
.itemWrap{
    border: 1px solid #d4d4d6;
    border-radius: 0.25rem;
    height: 100%;
}
.title{
    padding: 1rem;
    font-size: 0.875rem;
    border-bottom: 1px solid #d4d4d6;
}
.content{
    padding: 1rem;
}
.section{
    padding: 0.5rem 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.text{
    font-size: 0.875rem;
    color: #75757A;
    font-weight: 600;
    line-height: 1rem;
}
.newsletter{
    margin-top: 1rem;
    margin-left: -0.5rem;
    padding-top: 1rem;
}
.storeCredit{
    color: #264996;
    font-weight: 600;
}