.shipmentDetailsWrap{
    padding: 0 3rem 1rem;
}
.modifyBtnWrapper{
    padding: 0.5rem;
    display: grid;
    place-content: center;
}
.modifyBtn{
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--primary);
    font-size: 0.875rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
}
.modifyBtn:hover{
    background-color: rgba(246, 139, 30, 0.3);
}
.titleCase{
    text-transform: capitalize;
}
.paymentSummary{
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
}