*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar{
    display: none;
}

:root{
    background-color: #f1f1f2;
    font-size: 1rem;
    line-height: 1.5;
    color: #282828;

    --primary: #f68b1e;
    --borderColor: #EDEDED;
    --secondaryText: #808080;
    --btnHoverBg: #e07e1c;
    --shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    scroll-behavior: smooth;
}
address{
    font-style: normal;
}
.swiper {
    border-radius: 5px;
}
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img{
    max-width: 100%;
    vertical-align:middle;
}

a{
    text-decoration: none;
    color: unset;
}

ul{
    list-style: none;
}
.disabled{
    border-color: var(--borderColor) !important;
    color: var(--borderColor) !important;
}
button{
    border: none;
}
.sideNavActive{
    background-color: #D4D4D6;
}
.imagesActive{
    border: 1px solid var(--primary);
}
.borderBottom{
    border-bottom: 1px solid var(--borderColor);
}

.animation{
    animation: loader 1s infinite linear;
}
@keyframes loader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
.modifyBtnWrapper{
    display: grid;
    place-content: center;
}
.modifyBtn{
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--primary);
    font-size: 0.875rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
}
.modifyBtn:hover{
    background-color: rgba(246, 139, 30, 0.3);
}
.border-top{
    border-top: 1px solid var(--borderColor);
}
.modifyBtn:disabled{
    pointer-events: none;
    color: #a3a3a6;
}
.confirmationWrapper{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,.15);
    top: 0;
    left: 0;
    z-index: 9999;
}
@media (min-width: 640px){
    .modifyBtnWrapper{
        padding: 0.5rem;
    }
}